/*Default Body and Design */
h1,
h2,
h3 {
    color: #2c3e50;
}

/* Line below name */
h1 {
    border-bottom: double #2c3e50;
    /* Line below name */
}



/*Profile picture */
img {
    border-radius: 50%;
    /*To center an image */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.skill {
    display: flex;
    /* Use flexbox for each skill item */
    margin: 10px 0;
    /* Space between skill items */
    align-items: center;
    /* Center progress bars vertically */
    justify-content: space-between;
    /*Align label to the left and progress bar to the right, distributing space evenly */
}

.progress-bar {
    height: 3px;
    background-color: lightgray;
    width: 100px;
    border-radius: 20px;
}

.progress {
    background-color: #2c3e50;
    height: 100%;
    border-radius: 20px;
}


/* Section: Experiences, Education, Publications, Project */
.section {
    border-bottom: 1px solid #2c3e50;
    /* Line below name */
}

.section-title {
    color: #2c3e50;
}

.section-desc {
    display: none;
    margin-top: 10px;
}

.toggle-icon {
    font-size: 12px;
}

/*Publications*/

#last-updated {
    text-align: center;
    /* Center the text */
    font-size: 0.9em;
    /* Adjust font size as needed */
    color: #666;
    /* Change color to match your design */
    position: relative;
}

.link-with-icon::after {
    content: '↗'; /* Arrow icon */
}

@keyframes customBounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .hover\:animate-bounce:hover {
    animation: customBounce 1.0s ease-in-out;
  }
  
  .delay-0 {
    animation-delay: 0s;
  }
  .delay-200 {
    animation-delay: 0.2s;
  }
  .delay-400 {
    animation-delay: 0.4s;
  }
  .delay-600 {
    animation-delay: 0.6s;
  }

  .group-hover\:opacity-100:hover .group-hover\:visible {
    opacity: 1;
    visibility: visible;
}

.tooltip-container {
    position: relative;
    display: inline-block;
    align-items: center;
}

.tooltip-text {
    visibility: hidden;
    width: auto; /* Adjust as needed */
    background-color: rgba(51, 51, 51, 0.9); /* Tooltip background color */
    color: #fff; /* Text color */
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    left: 119%; /* Position to the right of the icon */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust vertical alignment */
    font-size: 0.8rem; /* Smaller font size */
    opacity: 0;
    transition: opacity 0.3s; /* Smooth transition */
    white-space: nowrap; 
}

.tooltip-text.long {
  white-space: normal; /* Allow wrapping */
  width: 350px; 
  line-height: 1.5;
}


.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1; /* Show tooltip on hover */
}